<form action="/changePassword/:userID" method="post" class="needs-validation" novalidate>
    <!-- Ancien mot de passe -->
    <div class="mb-3">
        <label for="ancienMotDePasse" class="form-label">Ancien mot de passe :</label>
        <div class="col-8 offset-2">
            <input type="password" class="form-control" id="ancienMotDePasse" name="ancienMotDePasse" required>
        </div>
        <div class="invalid-feedback">
            Veuillez saisir votre ancien mot de passe.
        </div>
    </div>

    <!-- Nouveau mot de passe -->
    <div class="mb-3">
        <label for="nouveauMotDePasse" class="form-label">Nouveau mot de passe :</label>
        <div class="col-8 offset-2">
            <input type="password" class="form-control" id="nouveauMotDePasse" name="nouveauMotDePasse" required>
        </div>
        <div class="invalid-feedback">
            Veuillez saisir votre nouveau mot de passe.
        </div>
    </div>

    <!-- Confirmation du nouveau mot de passe -->
    <div class="mb-3">
        <label for="confirmationMotDePasse" class="form-label">Confirmation du nouveau mot de passe :</label>
        <div class="col-8 offset-2">
            <input type="password" class="form-control" id="confirmationMotDePasse" name="confirmationMotDePasse"
                required>
        </div>
        <div class="invalid-feedback">
            Veuillez confirmer votre nouveau mot de passe.
        </div>
    </div>

    <!-- Bouton Modifier -->
    <button type="submit" class="btn btn-success">
        <i class="fas fa-edit"></i> Modifier
    </button>
</form>