extends base.pug

block content
  h5.card-header Mes itinéraires :

  table.table.table-bordered.table-responsive
    thead.table-dark
      tr
        th Nom de l'itinéraire
        th Liste des points
        th Distance
        th Actions

    tbody
      each route in routes
        tr
          td 
            h6.mb-3 #{route.name}
          td
            ul.list-group
              each point in route.points
                li.list-group-item #{point.latitude}, #{point.longitude}
          td.mb-1 Distance: #{route.distance} km
          td
            button.btn.btn-primary.mr-2(type='button')
              i.fas.fa-search
              | 

            button.btn.btn-success(type='button')
              i.fas.fa-download
              | 
