extends base.pug

block content
  h5.card-header Mes itinéraires :
    .d-flex.justify-content-end
      a.btn.btn-primary.m-2(href='./creation-itineraire')
        i.fas.fa-plus
        |  Nouvel itinéraire

      a.btn.btn-warning(href='./occupation')
        i.fas.fa-map
        |  Carte d'occupation

  table.table.table-bordered.table-responsive.mt-1
    thead.table-dark
      tr
        th Nom de l'itinéraire
        th Liste des points
        th Distance
        th Actions

    tbody
      each route in routes
        tr
          td 
            h6.mb-3 #{route.name}
          td
            ul.list-group
              each point in route.points
                li.list-group-item #{point.latitude}, #{point.longitude}
          td.mb-1 Distance: #{route.distance} km
          td
            button.btn.btn-primary.m-2(type='button')
              i.fas.fa-search
              | 

            button.btn.btn-success(type='button')
              i.fas.fa-download
              | 
