extends base.pug

block content
    h5.card-header Mes informations :
    p.card-text 
      | !{formData}
    a.btn.btn-warning(href='/changePassword')
      i.fas.fa-key
      |  Modifier mon mot de passe